## Landmark and Historical Building Data Cleaning

Cleaning for the dataset on Manhattan hisotrical buildings and landmarks

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import geopy

#Read data frame from csv file
df = pd.read_csv('archive/Historic_Building_DB_20180401_Release.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

#Read size from csv
df.shape

(37459, 39)

In [23]:
#Basic information on dataframe and feature types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37459 entries, 0 to 37458
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    37459 non-null  object
 1   BIN         37459 non-null  int64
 2   BBL         37459 non-null  int64
 3   Borough     37459 non-null  object
 4   Block       37459 non-null  int64
 5   Lot         37459 non-null  int64
 6   Des_Addres  37459 non-null  object
 7   Circa       37459 non-null  int64
 8   Date_Low    37459 non-null  int64
 9   Date_High   37459 non-null  int64
 10  Date_Combo  37459 non-null  object
 11  Alt_Date_1  37459 non-null  object
 12  Alt_Date_2  37459 non-null  object
 13  Arch_Build  37459 non-null  object
 14  Own_Devel   37459 non-null  object
 15  Alt_Arch_1  37459 non-null  object
 16  Alt_Arch_2  37459 non-null  object
 17  Altered     37459 non-null  int64
 18  Style_Prim  37458 non-null  object
 19  Style_Sec   37459 non-null  object
 20  Style_Oth   37459 non-null  object
 21  Mat_Prim    37459 non-null  object
 22  Mat_Sec     37459 non-null  object
 23  Mat_Third   37459 non-null  object
 24  Mat_Four    37457 non-null  object
 25  Mat_Other   37459 non-null  object
 26  Use_Orig    37459 non-null  object
 27  Use_Other   37459 non-null  object
 28  Build_Type  37459 non-null  object
 29  Build_Oth   37459 non-null  object
 30  Build_Nme   37459 non-null  object
 31  Notes       37458 non-null  object
 32  Hist_Dist   37459 non-null  object
 33  LM_Orig     37459 non-null  object
 34  LM_New      37459 non-null  object
 35  SC_FLAG     37459 non-null  int64
 36  BBL_Int     37459 non-null  int64
 37  SHAPE_Leng  37459 non-null  float64
 38  SHAPE_Area  37459 non-null  float64
dtypes: float64(2), int64(10), object(27)
memory usage: 11.1+ MB

In [24]:
#Checking for duplicate rows

df.duplicated().sum()

#14 duplicate values pre-cleaning.

14

In [25]:
#Removing unnecessary columns, keeping architecctural data and location data as those are the only data points needed for mapping

df = df[['Borough', 'Block', 'Lot', 'Des_Addres', 'Date_Low', 'Date_High', 'Alt_Date_1', 'Alt_Date_2', 'Style_Prim', 'Style_Oth', 'LM_Orig', 'LM_New']]

In [26]:
#changing block, lot, and dates to categorical, as they are not continuous values

df['Block'] = df['Block'].astype(object)
df['Lot'] = df['Lot'].astype(object)
df['Date_Low'] = df['Date_Low'].astype(object)
df['Date_High'] = df['Date_High'].astype(object)

In [27]:
#First and last 5 rows to check data formatting

print("First 5 rows:")
print(df.head())
print("Last 5 rows:\n")
print(df.tail())

First 5 rows:
  Borough Block  Lot                                         Des_Addres  \
0      BK  6692   18                               803 East 17th Street
1      BK  6692   74  814 East 18th Street (aka 812-814 East 18th St...
2      BK  5237  230                                 1653 Glenwood Road
3      BK  6691   32                                54 Wellington Court
4      BK  6693    7                                      1809 Avenue H

  Date_Low Date_High Alt_Date_1 Alt_Date_2                         Style_Prim  \
0     1912      1912       1958          0                     Not determined
1        0         0          0          0                     Not determined
2     1906      1906          0          0                   Colonial Revival
3     1911      1911          0          0                      Arts & Crafts
4     1906      1906          0          0  Colonial Revival with alterations

  Style_Oth LM_Orig LM_New
0         0       0      0
1         0       0      0
2         0       0      0
3         0       0      0
4         0       0      0
Last 5 rows:

      Borough Block Lot                                     Des_Addres  \
37454      BK  5055  38                        350-352 Parkside Avenue
37455      BK  5048  78                            357 Parkside Avenue
37456      BK  5055  45                        386-388 Parkside Avenue
37457      BK  5048  56  413 Parkside Avenue (Aka 1996 Bedford Avenue)
37458      BK  5055  41                        366-368 Parkside Avenue

      Date_Low Date_High Alt_Date_1 Alt_Date_2    Style_Prim Style_Oth  \
37454     1909      1910          0          0  Neoclassical         0
37455     1914      1915          0          0  Neoclassical         0
37456     1909      1910          0          0  Neoclassical         0
37457     1909      1910          0          0  Neoclassical         0
37458     1909      1910          0          0  Neoclassical         0

      LM_Orig LM_New
37454       0      0
37455       0      0
37456       0      0
37457       0      0
37458       0      0

In [28]:
#Re-checking for duplicate values

df.duplicated().sum()

#898 duplicate values post-cleaning. This is likely due to the dropped columns. These will be removed, as they represent a minority of the dataset, and provide no new information on a particular address

898

In [29]:
#Removing non-Manhattan data, as this project focuses only on Manhattan

df = df[df.Borough == 'MN']
df.shape

(14578, 12)

In [34]:
#Converting Raw addresses to lat/lon for mapping purposes. Uses Geopy and openstreetmap API for conversion

df['lat'] = np.nan
df['lon'] = np.nan
for index, row in df.iterrows():
    address = row['Des_Addres']
    location = geolocator.geocode(address)
    row['lat'] = location.latitude
    row['lon'] = location.longitude

NameError: name 'geolocator' is not defined