## Pedestrian Data Cleaning

This dataset focuses on pedestrian data in New York city, and will potentially be used to predict foot traffic in Manhattan. Pedestrian counts taken from 7-9am and 4-7pm.

Taken from https://www.nyc.gov/html/dot/html/about/datafeeds.shtml#trafficcounts

Metadata: https://www.nyc.gov/html/dot/downloads/pdf/bi-annual-ped-count-readme.pdf

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

#Read data frame from csv file
df = pd.read_csv('archive/PedCountLocationsMay2015.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

#Read size from csv
df.shape

(114, 98)

In [4]:
#Checking for duplicate values

df.duplicated().sum()

#No duplicate values

0

In [5]:
#Basic information on dataframe features and feature types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 98 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    114 non-null    object
 1   OBJECTID    114 non-null    int64
 2   LOC         114 non-null    int64
 3   Borough     114 non-null    object
 4   Street_Nam  114 non-null    object
 5   From_Stree  114 non-null    object
 6   To_Street   96 non-null     object
 7   Index       114 non-null    object
 8   May07_AM    112 non-null    float64
 9   May07_PM    112 non-null    float64
 10  May07_MD    112 non-null    float64
 11  Sept07_AM   113 non-null    float64
 12  Sept07_PM   113 non-null    float64
 13  Sept07_MD   113 non-null    float64
 14  May08_AM    113 non-null    float64
 15  May08_PM    113 non-null    float64
 16  May08_MD    113 non-null    float64
 17  Sept08_AM   112 non-null    float64
 18  Sept08_PM   112 non-null    float64
 19  Sept08_MD   112 non-null    float64
 20  May09_AM    114 non-null    int64
 21  May09_PM    114 non-null    int64
 22  May09_MD    114 non-null    int64
 23  Sept09_AM   113 non-null    float64
 24  Sept09_PM   113 non-null    float64
 25  Sept09_MD   113 non-null    float64
 26  May10_AM    114 non-null    int64
 27  May10_PM    114 non-null    int64
 28  May10_MD    114 non-null    int64
 29  Sept10_AM   114 non-null    int64
 30  Sept10_PM   114 non-null    int64
 31  Sept10_MD   114 non-null    int64
 32  May11_AM    114 non-null    int64
 33  May11_PM    114 non-null    int64
 34  May11_MD    114 non-null    int64
 35  Sept11_AM   114 non-null    int64
 36  Sept11_PM   114 non-null    int64
 37  Sept11_MD   114 non-null    int64
 38  May12_AM    114 non-null    int64
 39  May12_PM    114 non-null    int64
 40  May12_MD    114 non-null    int64
 41  Sept12_AM   114 non-null    int64
 42  Sept12_PM   114 non-null    int64
 43  Sept12_MD   114 non-null    int64
 44  May13_AM    114 non-null    int64
 45  May13_PM    114 non-null    int64
 46  May13_MD    114 non-null    int64
 47  Sept13_AM   114 non-null    int64
 48  Sept13_PM   114 non-null    int64
 49  Sept13_MD   114 non-null    int64
 50  May14_AM    114 non-null    int64
 51  May14_PM    114 non-null    int64
 52  May14_MD    114 non-null    int64
 53  Sept14_AM   114 non-null    int64
 54  Sept14_PM   114 non-null    int64
 55  Sept14_MD   114 non-null    int64
 56  May15_AM    114 non-null    int64
 57  May15_PM    114 non-null    int64
 58  May15_MD    114 non-null    int64
 59  Sept15_AM   114 non-null    int64
 60  Sept15_PM   114 non-null    int64
 61  Sept15_MD   114 non-null    int64
 62  May16_AM    114 non-null    int64
 63  May16_PM    114 non-null    int64
 64  May16_MD    114 non-null    int64
 65  Sept16_AM   114 non-null    int64
 66  Sept16_PM   114 non-null    int64
 67  Sept16_MD   114 non-null    int64
 68  May17_AM    114 non-null    int64
 69  May17_PM    114 non-null    int64
 70  May17_MD    114 non-null    int64
 71  Sept17_AM   114 non-null    int64
 72  Sept17_PM   114 non-null    int64
 73  Sept17_MD   114 non-null    int64
 74  May18_AM    114 non-null    int64
 75  May18_PM    114 non-null    int64
 76  May18_MD    114 non-null    int64
 77  Sept18_AM   114 non-null    int64
 78  Sept18_PM   114 non-null    int64
 79  Sept18_MD   114 non-null    int64
 80  May19_AM    50 non-null     float64
 81  May19_PM    50 non-null     float64
 82  May19_MD    50 non-null     float64
 83  Oct20_AM    95 non-null     float64
 84  Oct20_PM    94 non-null     float64
 85  Oct20_MD    90 non-null     float64
 86  May21_AM    113 non-null    float64
 87  May21_PM    113 non-null    float64
 88  May21_MD    113 non-null    float64
 89  Oct21_AM    113 non-null    float64
 90  Oct21_PM    113 non-null    float64
 91  Oct21_MD    113 non-null    float64
 92  May22_AM    113 non-null    float64
 93  May22_pM    113 non-null    float64
 94  May22_MD    113 non-null    float64
 95  Oct22_AM    114 non-null    object
 96  Oct22_PM    114 non-null    object
 97  Oct22_MD    114 non-null    object
dtypes: float64(30), int64(59), object(9)
memory usage: 87.4+ KB

In [7]:
#I have elected only to drop the_geom and index, as these are the only columns not related to pedestrian count or location

df = df.drop(columns=['the_geom', 'Index'])

In [12]:
#changing object pedestrian counts to float64, as they represent continuous features. Changing objectid and loc to objects, as they represent categorical features

#df['Oct22_AM'] = df['Oct22_AM'].astype(np.float64)
#df['Oct22_PM'] = df['Oct22_PM'].astype(np.float64)
#df['Oct22_MD'] = df['Oct22_MD'].astype(np.float64)

#Edit: running into errors casting as float. String values contained. WIll investigate further or potentially drop if data is chosen for final project

df['OBJECTID'] = df['OBJECTID'].astype(object)
df['LOC'] = df['LOC'].astype(object)

In [13]:
#Removing all non-Manhattan values

df = df[df.Borough == 'Manhattan']

In [14]:
#Printing the first and last 5 rows to check data formatting 

print("First 5 rows:")
print(df.head())
print("Last 5 rows:\n")
print(df.tail())

First 5 rows:
   OBJECTID LOC    Borough       Street_Nam        From_Stree  \
34       35  35  Manhattan     Broad Street     Beaver Street
35       36  36  Manhattan         Broadway     Morris Street
36       37  37  Manhattan         Broadway  West 63rd Street
37       38  38  Manhattan  Chambers Street     West Broadway
38       39  39  Manhattan  Columbus Avenue  West 75th Street

               To_Street  May07_AM  May07_PM  May07_MD  Sept07_AM  ...  \
34  South William Street    3469.0    3992.0     599.0     4214.0  ...
35        Exchange Place    3660.0    8390.0    2361.0     4507.0  ...
36      West 64th Street    1611.0    6764.0    4592.0     1805.0  ...
37      Greenwich Street    7081.0    8512.0    2061.0     7192.0  ...
38      West 76th Street    1071.0    3037.0    3500.0     1189.0  ...

    May21_MD  Oct21_AM  Oct21_PM  Oct21_MD  May22_AM  May22_pM  May22_MD  \
34    1168.0    1736.0    2711.0    1279.0    2143.0    4002.0    1470.0
35    3395.0    1901.0    4671.0    3884.0    2804.0    7018.0    5383.0
36    3445.0    1899.0    5745.0    4966.0    1977.0    6730.0    4752.0
37    1215.0    4604.0    4163.0    1984.0    4615.0    4799.0    1538.0
38    1873.0    1380.0    3121.0    2846.0    1300.0    3205.0    2756.0

    Oct22_AM  Oct22_PM  Oct22_MD
34      2134      3643      1531
35      2432      4977      4877
36      2096      7096      5391
37      5268      5645      2366
38      1412      3425      3114

[5 rows x 96 columns]
Last 5 rows:

   OBJECTID LOC    Borough             Street_Nam   From_Stree    To_Street  \
65       66  66  Manhattan           Sixth Avenue  50th Street  51st Street
66       67  67  Manhattan         Seventh Avenue  50th Street  51st Street
67       68  68  Manhattan               Broadway  50th Street  51st Street
68       69  69  Manhattan          Eighth Avenue  50th Street  51st Street
69       70  70  Manhattan  Hudson River Greenway  50th Street  51st Street

    May07_AM  May07_PM  May07_MD  Sept07_AM  ...  May21_MD  Oct21_AM  \
65    8288.0   17222.0    7527.0     9097.0  ...    2872.0    3473.0
66    4490.0    9683.0    9375.0     4952.0  ...    2431.0    2168.0
67    3651.0   11214.0    9134.0     4158.0  ...    2585.0    2015.0
68    2817.0    7362.0    5118.0     3971.0  ...    3084.0    2705.0
69     190.0     382.0     310.0      129.0  ...     644.0     442.0

    Oct21_PM  Oct21_MD  May22_AM  May22_pM  May22_MD  Oct22_AM  Oct22_PM  \
65    8744.0    4826.0    5146.0   13784.0    9144.0      5356     12850
66    5802.0    4210.0    3722.0   11165.0    5535.0      3630      9524
67    6078.0    4380.0    3065.0   12216.0    7095.0      2872     10477
68    7814.0    5397.0    3460.0   10776.0    6970.0      3669      9959
69     762.0     754.0     515.0     865.0     704.0       318       314

    Oct22_MD
65      6196
66      5630
67      6349
68      6291
69       934

[5 rows x 96 columns]

In [16]:
#Saving cleaned frame to CSV

df.to_csv('cleaned_pedestrian_df.csv', index=False)