## Taxi Data Cleaning

CLeaning for the primary taxi dataset provided to us for this project. The data has been cleaned with a focus on maintaining pickup/dropoff data in order to best aid in creating predictive models for vehicle traffic

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

#Read data frame from csv file
df = pd.read_csv('archive/2020_Yellow_Taxi_Trip_Data.csv', keep_default_na=True, delimiter=',', skipinitialspace=True, low_memory=False)

#Read size from csv
df.shape

(24648499, 18)

In [8]:
#Checking for duplicate values

df.duplicated().sum()

#given the amount of distinguishing feratures, and the comparatively miniscule amount of duplicated data (~12,000), the duplicated will be dropped out of an abundance of caution. 

df.drop_duplicates()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,01/01/2020 12:28:15 AM,01/01/2020 12:33:03 AM,1.0,1.20,1.0,N,238,239,1.0,6.00,3.0,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,01/01/2020 12:35:39 AM,01/01/2020 12:43:04 AM,1.0,1.20,1.0,N,239,238,1.0,7.00,3.0,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,01/01/2020 12:47:41 AM,01/01/2020 12:53:52 AM,1.0,0.60,1.0,N,238,238,1.0,6.00,3.0,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,01/01/2020 12:55:23 AM,01/01/2020 01:00:14 AM,1.0,0.80,1.0,N,238,151,1.0,5.50,0.5,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,01/01/2020 12:01:58 AM,01/01/2020 12:04:16 AM,1.0,0.00,1.0,N,193,193,2.0,3.50,0.5,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24648494,NaN,12/31/2020 11:44:35 PM,01/01/2021 12:01:22 AM,NaN,9.22,NaN,NaN,143,20,NaN,32.49,0.0,0.5,8.16,0.00,0.3,43.95,2.5
24648495,NaN,12/31/2020 11:41:36 PM,12/31/2020 11:50:32 PM,NaN,4.79,NaN,NaN,4,262,NaN,13.22,0.0,0.5,3.65,0.00,0.3,20.17,2.5
24648496,NaN,12/31/2020 11:01:17 PM,12/31/2020 11:40:37 PM,NaN,28.00,NaN,NaN,210,78,NaN,69.31,0.0,0.5,2.75,6.12,0.3,78.98,0.0
24648497,NaN,12/31/2020 11:31:29 PM,12/31/2020 11:44:22 PM,NaN,7.08,NaN,NaN,148,129,NaN,35.95,0.0,0.5,2.75,0.00,0.3,39.50,0.0
24648498,NaN,12/31/2020 11:12:48 PM,12/31/2020 11:24:51 PM,NaN,2.35,NaN,NaN,18,235,NaN,17.09,0.0,0.5,2.75,0.00,0.3,20.64,0.0

In [9]:
#Basic information on dataframe features and feature types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24648499 entries, 0 to 24648498
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               float64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           float64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
dtypes: float64(13), int64(2), object(3)
memory usage: 3.3+ GB

In [12]:
#columns relating to time and destination will be kept. All other columns will be considered extraneous and will be dropped. Judicious dropping of data has been made necessary by the massive size and computational load of the dataset

df = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'PULocationID', 'DOLocationID']]

In [13]:
#Printing the first and last 5 rows to check data formatting 

print("First 5 rows:")
print(df.head())
print("Last 5 rows:\n")
print(df.tail())

First 5 rows:
     tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
0  01/01/2020 12:28:15 AM  01/01/2020 12:33:03 AM              1.0
1  01/01/2020 12:35:39 AM  01/01/2020 12:43:04 AM              1.0
2  01/01/2020 12:47:41 AM  01/01/2020 12:53:52 AM              1.0
3  01/01/2020 12:55:23 AM  01/01/2020 01:00:14 AM              1.0
4  01/01/2020 12:01:58 AM  01/01/2020 12:04:16 AM              1.0

   PULocationID  DOLocationID
0           238           239
1           239           238
2           238           238
3           238           151
4           193           193
Last 5 rows:

            tpep_pickup_datetime   tpep_dropoff_datetime  passenger_count  \
24648494  12/31/2020 11:44:35 PM  01/01/2021 12:01:22 AM              NaN
24648495  12/31/2020 11:41:36 PM  12/31/2020 11:50:32 PM              NaN
24648496  12/31/2020 11:01:17 PM  12/31/2020 11:40:37 PM              NaN
24648497  12/31/2020 11:31:29 PM  12/31/2020 11:44:22 PM              NaN
24648498  12/31/2020 11:12:48 PM  12/31/2020 11:24:51 PM              NaN

          PULocationID  DOLocationID
24648494           143            20
24648495             4           262
24648496           210            78
24648497           148           129
24648498            18           235

In [16]:
#Changing pick up and drop off features to object, as they are categorical
df.loc['PULocationID'] = df['PULocationID'].astype(object)
df.loc['DOLocationID'] = df['DOLocationID'].astype(object)

C:\Users\mattx\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [18]:
#Saving cleaned frame to CSV

df.to_csv('cleaned_taxi_df.csv', index=False)